 /*{
    border: solid;
} */
iframe{

    margin-top:50px;
    margin-left: 420px;
}
strong{
    margin-top: 520px;
    font-size:20px;
}
p{
    margin-top:50px;
    margin-left: 420px;
}

body {
    font-family: "Lato", sans-serif;
}
.


.menu-btn {
    z-index:9999;
    position: fixed;
    margin: 1em;
    font-size: 24px;
}

.menu {
    position: absolute;
    top: 0;
    width: 400px;
    height: 100vh;
    background: #ff0000;
    opacity: 0;
}

.close-menu {
    position: fixed;
    margin: 1em;
    font-size: 24px;
    color: #000000;
    z-index: 1;
}

.nav {
    position: absolute;
    left: 21%;
    margin-top: 8%;
}

.nav ul {
    list-style: none;
}

.main-menu-item {
    padding-top: 30px;
}

.main-menu-item a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.submenu-item a {
    z-index: 10;
    color: #fff;
}

.submenu li {
    margin: 20px 0;
}

a ion-icon {
    position: relative;
    font-size: 15px;
    opacity: 0.4;
}

.submenu {
    display:none;
}


/*hide scrollbar*/
::-webkit-scrollbar{
  width:20px;
} 

::-webkit-scrollbar-thumb{
  background-color:rgba(0,0,0,0);
} 