 /* *{
    border: solid;
} */
body {
    font-family: "Lato", sans-serif;
}
.


.menu-btn {
    z-index:9999;
    position: fixed;
    margin: 1em;
    font-size: 24px;
}

.menu {
    position: absolute;
    top: 0;
    width: 400px;
    height: 100vh;
    background: #121212;
    opacity: 0;
}

.close-menu {
    position: fixed;
    margin: 1em;
    font-size: 24px;
    color: #fff;
    z-index: 1;
}

.nav {
    position: absolute;
    left: 21%;
    margin-top: 8%;
}

.nav ul {
    list-style: none;
}

.main-menu-item {
    padding-top: 30px;
}

.main-menu-item a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}

.submenu-item a {
    z-index: 10;
    color: grey;
}

.submenu li {
    margin: 20px 0;
}

a ion-icon {
    position: relative;
    font-size: 15px;
    opacity: 0.4;
}

.submenu {
    display:none;
}


#logo{display:block; position:fixed;top:30px;margin-left:40%;margin-right:50%;}

.active{left:0;} 